@model formExample.Models.WordsModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1 id="GreetingMessage">Type in your letters</h1>
    @using (Html.BeginForm())
    {
        @Html.TextBox("letters");
        <button type="submit" class="btn btn-success">Let's Go!</button>

    }

</div>


<!--This gets 2 letter words-->
<div class="row resultSection">
    <div class="col-xs-12 col-md-12 headerSection">
        @if (Model.ArrayListOfSpecificWords == null)
        {

        }
        else
        {


            <div class="headingText"><h2 class="headingText text-center">Matching words: 2 letter </h2></div>
            foreach (string word in Model.ArrayListOfSpecificWords)
            {
                if (word.Length == 2)
                {
                    <div class="col-xs-3 col-md-3">@word</div>
                }


            }
        }
    </div>

</div>

<!--This gets 3 letter words-->
<div class="row resultSection">
    <div class="col-xs-12 col-md-12 headerSection">
        @if (Model.ArrayListOfSpecificWords == null)
        {
        
        }
        else
        {

         
            <div class="headingText"><h2 class="headingText text-center">Matching words: 3 letter </h2></div>
            foreach (string word in Model.ArrayListOfSpecificWords)
            {
                if (word.Length == 3)
                {
                    <div class="col-xs-3 col-md-3">@word</div>
                }


            }
        }
    </div>

</div>

<!--This gets 4 letter words-->
<div class="row resultSection">
    <div class="col-xs-12 col-md-12 headerSection">
        @if (Model.ArrayListOfSpecificWords == null)
        {

        }
        else
        {


            <div class="headingText"><h2 class="headingText text-center">Matching words: 4 letter </h2></div>
            foreach (string word in Model.ArrayListOfSpecificWords)
            {
                if (word.Length == 4)
                {
                    <div class="col-xs-3 col-md-3">@word</div>
                }


            }
        }
    </div>

</div>

<!--This gets 5 letter words-->
<div class="row resultSection">
    <div class="col-xs-12 col-md-12 headerSection">
        @if (Model.ArrayListOfSpecificWords == null)
        {

        }
        else
        {


            <div class="headingText"><h2 class="headingText text-center">Matching words: 5 letter </h2></div>
            foreach (string word in Model.ArrayListOfSpecificWords)
            {
                if (word.Length == 5)
                {
                    <div class="col-xs-3 col-md-3">@word</div>
                }


            }
        }
    </div>

</div>


<!--This gets 6 letter words-->
<div class="row resultSection">
    <div class="col-xs-12 col-md-12 headerSection">
        @if (Model.ArrayListOfSpecificWords == null)
        {

        }
        else
        {


            <div class="headingText"><h2 class="headingText text-center">Matching words: 6+ letter </h2></div>
            foreach (string word in Model.ArrayListOfSpecificWords)
            {
                if (word.Length >= 6)
                {
                    <div class="col-xs-3 col-md-3">@word</div>
                }


            }
        }
    </div>

</div>